<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--360浏览器优先以webkit内核解析-->


    <title>{$Think.config.site.title} - 主页</title>

    <meta name="keywords" content="{$Think.config.site.keywords}">
    <meta name="description" content="{$Think.config.site.description}">
	
	<link href="{$Think.config.site.resource_url}css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="{$Think.config.site.resource_url}css/font-awesome.min.css?v=4.4.0" rel="stylesheet">

    <link href="{$Think.config.site.resource_url}css/animate.min.css" rel="stylesheet">
    <link href="{$Think.config.site.resource_url}css/style.min.css?v=4.0.0" rel="stylesheet">

</head>

<body class="gray-bg">
    <div class="row  border-bottom white-bg dashboard-header">
        <div class="col-sm-12">
            <blockquote class="text-warning" style="font-size:14px">别人用1周就完成的工作
                <br>您难道还要自己花1个月去慢慢倒腾？
                <br>效率就是金钱…
                <br>…………
                <h4 class="text-danger">从goAuth开始，帮你提高效率</h4>
            </blockquote>

            <hr>
        </div>
        <div class="col-sm-3">
            <h2>微信号：fafa2088</h2>
            <small>移动设备访问请扫描以下二维码：</small>
            <br>
            <br>
            <img src="{$Think.config.site.resource_url}img/qr_code.png" width="100%" style="max-width:264px;">
            <br>
        </div>
        <div class="col-sm-5">
            <h2>
                            goAuth权限验证+后端框架
                        </h2>
            <p>goAuth是一套提供权限验证机制的后端框架，基于行为模式，把权限验证从业务代码中独立出来，旨在帮助开发者快速的开发php应用，方便后期维护。</p>
            <p>
                <b>当前版本：</b>v1.0.0
            </p>
            <p>
                <b></b><span class="label label-warning">Apache Licene 2.0 协议</span>
            </p>
            <br>
            <p>
                <a class="btn btn-success btn-outline" href="http://wpa.qq.com/msgrd?v=3&uin=158937496&site=qq&menu=yes" target="_blank">
                    <i class="fa fa-qq"> </i> QQ联系我
                </a>
                <a class="btn btn-white btn-bitbucket" href="https://jq.qq.com/?_wv=1027&k=475fcp1" target="_blank">
                    <i class="fa fa-home"></i> 点击链接加入群【ThinkPHP5 资深交流群⑤】：
                </a>
            </p>
        </div>
        <div class="col-sm-4">
            <h4>goAuth具有以下特点：</h4>
            <ol>
                <li>自动验证请求权限、自动生成菜单</li>
				<li>提供便捷的权限验证驱动接口</li>
				<li>提供后端操作模块+前端模版goUI。</li>
                <li>goUI基于最新版本的Bootstrap 3.3.4</li>
				<li>完全响应式布局（支持电脑、平板、手机等所有主流设备）</li>
                <li>提供3套不同风格的皮肤</li>
                <li>支持多种布局方式</li>
                <li>提供盒型、全宽、响应式视图模式</li>
                <li>采用HTML5 & CSS3</li>
                <li>拥有良好的代码结构</li>
                <li>更多……</li>
            </ol>
        </div>

    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-4">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>延伸产品</h5>
                    </div>
                    <div class="ibox-content">
                        <p>我们提供基于goAuth的二次开发服务，具体费用请联系作者。</p>
                        <p>同时，我们也提供以下开源产品：</p>
                        <ol>
                            <li>goCRM 客户管理系统</li>
                            <li>goCMS 多站点内容管理系统</li>
                            <li>goWe 多账户微信管理平台</li>
                            <li>godOA 移动+pc办公系统</li>
                        </ol>
                    </div>
                </div>
                
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>联系信息</h5>

                    </div>
                    <div class="ibox-content">
                
                        <p><i class="fa fa-qq"></i> QQ：<a href="http://wpa.qq.com/msgrd?v=3&uin=158937496&site=qq&menu=yes" target="_blank">158937496</a>
                        </p>
                        <p><i class="fa fa-weixin"></i> 微信：<a href="javascript:;">fafa2088</a>
                        </p>
                        <p><i class="fa fa-credit-card"></i> 支付宝：<a href="javascript:;" class="支付宝信息">13541350044 / *强</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>作者申明</h5>
                    </div>
                    <div class="ibox-content">
                        <p>请尊重他人劳动</p>
                        <ol>
                            <li>锄禾日当日</li>
                            <li>汗滴禾下土</li>
                            <li>谁知盘中餐</li>
                            <li>粒粒皆辛苦</li>
                            <li>……</li>
                        </ol>
                        <hr>
            

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{$Think.config.site.resource_url}js/jquery.min.js?v=2.1.4"></script>
    <script src="{$Think.config.site.resource_url}js/bootstrap.min.js?v=3.3.5"></script>
    <script src="{$Think.config.site.resource_url}js/plugins/layer/layer.js"></script>
    <script src="{$Think.config.site.resource_url}js/content.min.js"></script>
    <script src="{$Think.config.site.resource_url}js/welcome.min.js"></script>
<script>
if( !window.top.length){
	location.href="<?php echo \think\Request::instance()->root(); ?>/auth/Index/index";
}
</script>
</body>

</html>